html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::-webkit-backdrop,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
*::backdrop,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  margin-left: 24px;
  margin-right: 24px;
}

.button {
  display: inline-block;
  color: #fafafa;
  padding: 16px 40px;
  border-radius: 29px;
}

.button-sm {
  padding: 16px 29px;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 128px 54px 128px;
}

.hero {
  overflow: hidden;
}

@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 45px;
  }
}

.hero__imgLeft {
  -webkit-transform: translate(-33px, -45px);
          transform: translate(-33px, -45px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hero__imgLeft img {
  width: 100%;
}

.hero__img {
  margin-bottom: 48px;
}

@media (min-width: 40em) {
  .hero__img {
    margin-bottom: 72px;
  }
}

.hero__img img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 106.5%;
}

.hero__imgRight {
  -webkit-transform: translate(33px, 10px);
          transform: translate(33px, 10px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hero__imgRight img {
  width: 100%;
}

.hero__text {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 457px;
}

@media (min-width: 64em) {
  .hero__text {
    min-width: 540px;
  }
}

.hero__header {
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  margin-bottom: 24px;
}

@media (min-width: 64em) {
  .hero__header {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 34px;
  }
}

.hero__copy {
  color: #87879d;
  font-size: 16;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 32px;
}

@media (min-width: 64em) {
  .hero__copy {
    font-size: 18px;
  }
}

.hero__cta {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  margin-bottom: 64px;
}

@media (min-width: 40em) {
  .hero__cta {
    margin-bottom: 80px;
  }
}

.hero__ctaDownload {
  background-color: #4d96a9;
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.hero__ctaDownload span {
  color: #8fe3f9;
}

.hero__ctaInfo {
  background-color: #855fb1;
  margin-left: 8px;
  margin-right: 8px;
}

.divider {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 40em) {
  .divider {
    margin-bottom: 67px;
  }
}

.divider__line {
  width: 0.1rem;
  background-color: rgba(135, 135, 157, 0.25);
  height: 84px;
}

.divider__num {
  background-color: white;
  font-size: 16px;
  font-weight: 900;
  color: #87879d;
  display: inline-block;
  border: 1px solid rgba(135, 135, 157, 0.25);
  padding: 15px;
  border-radius: 50%;
}

.divider.divider2 {
  margin-bottom: 0;
  position: relative;
  top: 25px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  margin-bottom: 64px;
}

@media (min-width: 40em) {
  .gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 11px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 48px;
  }
}

.gallery__img {
  width: 100%;
  border-radius: 8px;
}

.info {
  margin-bottom: 36px;
}

@media (min-width: 40em) {
  .info {
    margin-bottom: 55px;
  }
}

.info__tagline {
  color: #4d96a9;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 24px;
}

.info__header {
  color: #28283d;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 32px;
}

@media (min-width: 40em) {
  .info__header {
    font-size: 40px;
    line-height: 44px;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
  }
}

.info__text {
  color: #87879d;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

@media (min-width: 40em) {
  .info__text {
    max-width: 572px;
    margin-left: auto;
    margin-right: auto;
  }
}

.info2 {
  background-color: #4d96a9;
  position: relative;
  margin-bottom: 0;
  padding-top: 92px;
  z-index: -1;
}

.info2::before {
  content: "";
  background-image: url(/assets/mobile/image-footer.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1045;
}

.info2__header {
  position: relative;
  color: #fafafa;
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 32px;
}

.info2__text {
  position: relative;
  color: #fafafa;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 32px;
}

.info2__cta {
  position: relative;
  padding-bottom: 72px;
}

.info2__ctaDownload {
  background-color: #855fb1;
}

.info2__ctaDownload span {
  color: #d9b8ff;
}
/*# sourceMappingURL=style.css.map */