.divider {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(medium) {
        margin-bottom: 67px;
    }

    &__line {
        width: 0.1rem;
        background-color: rgba($grey, 0.25);
        height: 84px;
    }

    &__num {
        background-color: white;
        font-size: 16px;
        font-weight: 900;
        color: $grey;
        display: inline-block;
        border: 1px solid rgba($grey, 0.25);
        padding: 15px;
        border-radius: 50%;
    }
}

.divider.divider2 {
    margin-bottom: 0;
    position: relative;
    top: 25px;
}
