html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::backdrop,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.container {
    margin-left: 24px;
    margin-right: 24px;
}

.button {
    display: inline-block;
    color: $light;
    padding: 16px 40px;
    border-radius: 29px;
}
