html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::backdrop,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.container {
    margin-left: 24px;
    margin-right: 24px;
}

.button {
    display: inline-block;
    color: $light;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    padding: 16px 40px;
    border-radius: 29px;
    transition: background-color 150ms ease-in-out;
}

.button-sm {
    padding: 16px 29px;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}
.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
