.hero {
    overflow: hidden;
    @include breakpoint-up(large) {
        display: flex;
        justify-content: center;
        padding-top: 45px;
    }

    &__imgLeft {
        transform: translate(-33px, -45px);
        flex-shrink: 0;

        img {
            width: 100%;
        }
    }
    &__img {
        margin-bottom: 48px;

        @include breakpoint-up(medium) {
            margin-bottom: 72px;
        }

        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 106.5%;
        }
    }

    &__imgRight {
        transform: translate(33px, 10px);
        flex-shrink: 0;

        img {
            width: 100%;
        }
    }

    &__text {
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
        max-width: 457px;

        @include breakpoint-up(large) {
            min-width: 540px;
            max-width: 540px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__header {
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        margin-bottom: 24px;

        @include breakpoint-up(medium) {
            margin-left: auto;
            margin-right: auto;
            max-width: 339px;
            font-size: 48px;
            line-height: 48px;
        }

        @include breakpoint-up(large) {
            max-width: 445px;
            font-size: 64px;
            line-height: 64px;
            margin-bottom: 34px;
        }
    }

    &__copy {
        color: $grey;
        font-size: 16;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 32px;

        @include breakpoint-up(large) {
            font-size: 18px;
        }
    }

    &__cta {
        font-size: 16px;
        font-weight: 900;
        line-height: 26px;
        margin-bottom: 64px;

        @include breakpoint-up(medium) {
            margin-bottom: 80px;
        }

        @include breakpoint-up(large) {
            margin-bottom: 103px;
        }
    }

    &__ctaDownload {
        background-color: $blue;
        margin-bottom: 16px;
        margin-right: 8px;
        margin-left: 8px;

        span {
            color: $lightBlue;
        }

        &:hover {
            background-color: #71c0d4;
        }
    }

    &__ctaInfo {
        background-color: $purple;
        margin-left: 8px;
        margin-right: 8px;

        &:hover {
            background-color: #b18bdd;
        }
    }
}
