.info2 {
    background-color: $blue;
    position: relative;
    margin-bottom: 0;
    padding-top: 92px;
    @include breakpoint-up(large) {
        padding: 116px 165px 104px 165px;
        display: flex;
        justify-content: center;
    }

    &__container {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint-up(large) {
            flex-direction: row;
            justify-content: space-between;
            min-width: 950px;
            max-width: 1110px;
        }
    }

    &::before {
        content: "";
        background-image: url(/assets/mobile/image-footer.jpg);
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1045;

        @include breakpoint-up(medium) {
            background-image: url(/assets/tablet/image-footer.jpg);
        }

        @include breakpoint-up(large) {
            background-image: url(/assets/desktop/image-footer.jpg);
            background-position: center;
        }
    }

    &__header {
        position: relative;
        color: $light;
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
        margin-bottom: 32px;
        @include breakpoint-up(medium) {
            font-size: 40px;
            line-height: 44px;
            max-width: 457px;
        }

        @include breakpoint-up(large) {
            text-align: left;
            max-width: 350px;
            margin-bottom: 0;
        }
    }

    &__text {
        position: relative;
        color: $light;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 32px;

        @include breakpoint-up(medium) {
            max-width: 573px;
        }
        @include breakpoint-up(large) {
            text-align: left;
            max-width: 350px;
            margin-bottom: 0;
        }
    }

    &__cta {
        position: relative;
        padding-bottom: 72px;

        @include breakpoint-up(large) {
            padding-bottom: 0;
        }
    }

    &__ctaDownload {
        background-color: $purple;
        span {
            color: $lightPurple;
        }

        &:hover {
            background-color: #b18bdd;
        }
    }
}
